:root {
  --white: #ded9d3;

  --dark: #0e0f12;
  --medium: #13171f;
  --light: #2A3147;
  --lighter: #556490;
}

body {
  overflow-x: hidden;
  overflow-y: visible;
  color: var(--lighter);
  width: 100vw;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
h1 {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: normal;
  display: inline-block;
  margin: 0px 0px 12px 20px;
}
H2 {
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 0px;
}

.cardContainer {
  background-color: var(--medium);
  border: 2px solid;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  top: 0;
  padding: 24px 36px;
  transition: 0.2s linear;
}
.container {
  width: 100%;
}
.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexContainerTimer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  transition: all .2s linear;
}
.selector p {
  margin: 0px;
  transition: all .2s linear;
}
.selector img {
  transition: all .2s linear;
}
.selector p:nth-child(3)  {
  color: var(--white);
}
button {
  width: 60px;
  height: 60px;
  font: inherit;
  border: 2px solid;
  border-radius: 10px;
  background: none;
}


#minimap-slide {
  animation: slideOver 5s linear forwards;
}

@keyframes slideOver {
  from {
    x: 0;
  }
  to {
    x: 100%;
  }
}
